@mixin bg-gradient {
	background: -webkit-linear-gradient(left, rgb(130, 32, 167) 0%, rgb(111, 21, 168) 49%, rgb(112, 21, 167) 50%, rgb(173, 28, 145) 100%);
background: -o-linear-gradient(left, rgb(130, 32, 167) 0%, rgb(111, 21, 168) 49%, rgb(112, 21, 167) 50%, rgb(173, 28, 145) 100%);
background: -ms-linear-gradient(left, rgb(130, 32, 167) 0%, rgb(111, 21, 168) 49%, rgb(112, 21, 167) 50%, rgb(173, 28, 145) 100%);
background: -moz-linear-gradient(left, rgb(130, 32, 167) 0%, rgb(111, 21, 168) 49%, rgb(112, 21, 167) 50%, rgb(173, 28, 145) 100%);
background: linear-gradient(to right, rgb(130, 32, 167) 0%, rgb(111, 21, 168) 49%, rgb(112, 21, 167) 50%, rgb(173, 28, 145) 100%);
}


@mixin color-gradient{
	color:-webkit-linear-gradient(left, rgb(130, 32, 167) 0%, rgb(111, 21, 168) 49%, rgb(112, 21, 167) 50%, rgb(173, 28, 145) 100%);
background: -o-linear-gradient(left, rgb(130, 32, 167) 0%, rgb(111, 21, 168) 49%, rgb(112, 21, 167) 50%, rgb(173, 28, 145) 100%);
background: -ms-linear-gradient(left, rgb(130, 32, 167) 0%, rgb(111, 21, 168) 49%, rgb(112, 21, 167) 50%, rgb(173, 28, 145) 100%);
background: -moz-linear-gradient(left, rgb(130, 32, 167) 0%, rgb(111, 21, 168) 49%, rgb(112, 21, 167) 50%, rgb(173, 28, 145) 100%);
background: linear-gradient(to right, rgb(130, 32, 167) 0%, rgb(111, 21, 168) 49%, rgb(112, 21, 167) 50%, rgb(173, 28, 145) 100%);
}

@mixin shadows{
box-shadow:0px 12px 25px #cec2cc;
-webkit-box-shadow: 15px 15px 100px -46px #242424;
-moz-box-shadow: 15px 15px 100px -46px #242424;
-o-box-shadow: 15px 15px 100px -46px #242424;
}

@mixin gradient-text-color{
  background: linear-gradient(90deg, #7916A4 50%,  #7E139F 50%, #CA0B8C 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-color:#ffffff;
}

@mixin gradient-text-white{
  background: linear-gradient(90deg, #FFFFFF 50%,  #FFFFFF 50%, #FFFFFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


@mixin gradient-color{
background-color: -webkit-linear-gradient(to left, #D30885 , #851EC7); 
}