body {
@import "gradient";
@import "others";
overflow-x:hidden;
    $exlarge-font:25px;
    $large-font: 15px;
    $medium-font: 13px;
    $small-font: 12px;
.container-fluid {
   background-color:#333333;
   color:#ffffff;
    .header-row {
   @include row-margin;
    $text-color:#d0cccc;
    $hover-color:#ffffff;
       border-bottom:1px solid gray;
           .col-lg-12{ 
           span{padding:3px;}
              margin-top:10px;
              margin-bottom:10px;
              padding-right: 15px;
              padding-left: 0px;
           .col-lg-1{
              padding-top:20px;
              padding-left:0px;
              .brand-logo{
                  color:$hover-color;
                  font-weight:bold;
                   &:hover{
                   color:$text-color;
                          }
                          }
                    } //col-1 closed
                    .col-lg-11{
                    border-left: 1px solid gray;
                      .brand-text{ 
                      &span{padding:3px;}
                       div{font-size:$large-font;
                       color: $text-color; 
                       &:hover{
                       text-decoration:none;
                       color:$hover-color;
                       font-weight:normal;
                       }
                       }
                       a{font-size:$medium-font;
                          color: $text-color; 
                       &:hover{
                       text-decoration:none;
                       color:$hover-color;
                          }
                         
                       }
                        }
                          
                     
                    }
   
           } //col-12 closed
                }//header-row closed
    .about-row{
    @include bg-gradient;
      .col-lg-12{
        .about-cora{
          margin-left:20%;
          height:120px;
          margin-right:20%;
          padding-top:30px;
            .header{    
              font-size: 20px;
              font-weight: 600;
              letter-spacing: 5px;
              }
            ul{
              li{
                 @include ul-list-items;
                 a{
                 color:#ffffff;
                 text-decoration:none;
                 padding:5px; 
                 margin-left:15px;
                &:hover{border-bottom:1px solid #ffffff;}
                 }

                }
              }      
          }  
          
              .about-header{
             h2{
                font-size: 45px;
                font-weight: bold;
                letter-spacing: 10px;
                padding:20px;
               }
              }
              .about-cora-para{
                 text-align: center;
                 margin-left: 34%;
                 margin-right: 34%;
                 height: 110px;
                 font-size:$small-font;
              }
             
      }
      .container{
        .col-lg-12{
        padding-bottom: 110px;
           .col-lg-6{
           margin-bottom:5px;
              .advisory{
                      padding: 60px;
                      transition:1s background-color ;
                      font-size: 11px;
                      border-radius: 20px;
                      margin-left: 45px;
                      margin-right: 45px;
                      
                      text-align: left;
                      word-spacing: 3px;
                       background-color:#8C189D;
               &:hover{@include bg-gradient;
               @include shadows;}
                h4{font-size:$exlarge-font;}

              }
              .ventures{
              @extend .advisory;
                            }
           }
        }
      }
    }

    .advisory-row{
    
    background-color:#FFFFFF;
    color:#000000;
       .col-lg-12{
       padding-top:30px;
       padding-bottom:30px;

       h3{
       @include gradient-text-color;
        text-aline:center;
         font-weight:bold;
       }
       p{padding-left:30%;
       padding-right:30%;
       font-size:$small-font;
       }
       }
       .advisory-list{
          margin-left:12%;
          margin-right:5%;

       ul{
       li{
       .icon-div,h6{
       @include gradient-text-color;
       i{font-size:40px;}
         &:hover{@include gradient-text-white;}
       }
       
        & p{
            font-size:$small-font;color:#000000;
             }
        & p:hover{color:#ffffff;}

        @include ul-list-items;
         width:300px;
         text-align:center;
         padding:30px 10px;
   
          &:hover{
           @include bg-gradient;
           border-radius:17px;
                 }

       & li:hover{
       color:#ffffff;
       box-shadow: -1px 3px 26px 4px #cca3cb;}
       }

       }
       }
    }

      .clients-row{
      padding-left: 30px;
      padding-right: 33px;
      padding-top:60px;
     
      color:#ffffff;
      
      @include bg-gradient;
      .list-of-clients{
      text-align:center;
     
      ul{
      li{
      @include ul-list-items;
    opacity: 0.7;
    padding: 25px 25px;
    color: #c0c0c0;
      }
      }
      }
      }

      .ventures-row{
          background-color:#ffffff;
          color:#ADAEB2;
          
         .center-block{
           h3{padding:20px;
             color:#040404;
             @include gradient-text-color;
             font-weight:bold;
             text-align:center;
             font-size:45px;
            }
            p{
            font-size:$small-font;

            }
         }

        ul{
         li{
         list-style:none;
          .center-block{
              margin: 75px 350px;
              border: 1px solid #b7b3b7;
              border-radius: 7px;
              padding: 36px 31px;
              transition:1s all;
              background-color:#ffffff;
              
              &:hover{
              color:#ffffff;
             background-color:#A41B94;
              margin: 75px 350px;
             padding: 36px 31px;
             border: 1px solid #a89ca5;
                         
              }
          .center{
               max-width:500px;
               @include gradient-color;
         }
        
         }
         }
        }
      } //ventures-row close

      .areas-focus-row{
   
      @include bg-gradient;
 padding-bottom: 100px;

         .center-block{
             h2{
             color:#ffffff;
               font-size: 40px;
               padding: 131px 0px 10px 0px;
               font-weight: bold;
             }
             p{
             font-size:$small-font;
             width:600px;
             }
         }
       .areas-focus-content{
       padding-top:300px;
        h5{font-weight:bold;}
         margin: 0% 19%;
          .col-lg-4{

          $padding-item:5px;
          margin: 10px;
          width: 250px;
          background-color: #980E7E;
          padding: 55px 35px;

          border-radius: 12px;
          text-align: center;
           .slide-icon{font-size:50px;}
          &:hover{
          i,h5,.slide-para{padding-top:10px;padding-bottom:10px;}
          transition:1s all;
           .button,h5,a,i {color:#B4119E;}
           p{color:#727273;}
          background-color:#FFFFFF;

          }
          p{padding:$padding-item;font-size:12px;}
         .i{
            font-size:45px;
            }
       a{
           padding: 10px 20px;
           border: 1px solid #ddd;
           border-radius: 50px;
           color: #ffffff;font-size:12px;
           text-decoration: none;

          a,i{font-size:12px;}
       }
       &:hover{
        
        }
       }
       }
      }// areas of focus row closed


     //thummbnails row starts


     .slide-row{
       .container{
       .carousel-inner .active.left { left: -33%; }
.carousel-inner .next        { left:  33%; }
.carousel-inner .prev        { left: -33%; }
.carousel-control.left,.carousel-control.right {background-image:none;} 
       }
     }

//thummbnails row starts
      .thumbnails-row{
      background-color:#ffffff;
      color:gray; 
      h2{padding-top: 80px;color:#9F1A96;}
     
      .thumbnails-row-content{
      .container{
      
      margin: 70px 170px;
      }
      .carousel-control.left,.carousel-control.right{   background-image: none;
    height: 20px;
    font-size: 10px;
    width: 23px;
    border: 1px solid gray;
    color: red;
    border-radius: 100px;    margin-left: -84px;    margin-right: -98px;
    padding-left: 16px;
    padding-top: 17px;
    padding-right: 32px;
    top: 294px;
    padding-bottom: 31px;}

    
      .carousel-control.left,.carousel-control.left{   
    background-image: none;
    height: 20px;
    font-size: 10px;
    width: 23px;
    border: 1px solid gray;
    color: red;
    border-radius: 100px;
    padding-left: 16px;
    padding-top: 17px;
    padding-right: 32px;
    top: 294px;
    padding-bottom: 31px;}
      .col-lg-4{
        text-align: center;
          .thumbnail{
          p{padding:30px 5px;}
          padding: 0px 5px;
          text-align:left;
          .caption{
             span{
             font-size: 19px;
             font-weight: 600;
             }
          }
         ul{    padding-left: 0px;
         .btn-more{
         padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 50px;
    font-size: 12px;
    text-decoration: none;
         }
           li{
              @include ul-list-items;
           }
         }
          @include row-margin;
          width:300px;
            img{   height: 280px;
                   width: 280px;
                   float: initial;
                   border-top-left-radius: 12px;
                   border-top-right-radius: 12px;
                   border-bottom-right-radius: 0px;
                   border-bottom-left-radius: 0px;
                   }  

                   }
          .caption{    padding:30px 10px;;}

               
              
      }


      }
     
          
      } //thummbnails row closed
      

      .advisors-row{
      center{
      h2{color:#851EC7;}
      }

      background-color:#ffffff;
      }




     /*
      .thumbnails-row{
      
      
      background-color:#ffffff;
      color:gray;
      .thumbnails-row-content{
      .container{
      margin: 70px 170px;
      }
      .carousel-control.left,.carousel-control.right{    background-image: none;
    height: 20px;
    font-size: 10px;
    width: 23px;
    border: 1px solid gray;
    
    border-radius: 100px;    margin-left: -84px;    margin-right: -98px;
    padding-left: 16px;
    padding-top: 17px;
    padding-right: 32px;
    top: 294px;
    padding-bottom: 31px;}

    
      .carousel-control.left,.carousel-control.left{   
    background-image: none;
    height: 20px;
    font-size: 10px;
    width: 23px;
    border: 1px solid gray;
    
    border-radius: 100px;
    padding-left: 16px;
    padding-top: 17px;
    padding-right: 32px;
    top: 294px;
    padding-bottom: 31px;}
      .col-lg-4{
        text-align: center;
          .thumbnail{
          p{padding:30px 5px;}
          padding: 0px 5px;
          text-align:left;
          .caption{
             span{
             font-size: 19px;
             font-weight: 600;
             }
          }
         ul{    padding-left: 0px;
         .btn-more{
         padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 50px;
    font-size: 12px;
    text-decoration: none;
         }
           li{
              @include ul-list-items;
           }
         }
         
          width:300px;
            img{   height: 280px;
                   width: 280px;
                   float: initial;
                   border-top-left-radius: 12px;
                   border-top-right-radius: 12px;
                   border-bottom-right-radius: 0px;
                   border-bottom-left-radius: 0px;
                   }  

                   }
          .caption{    padding:30px 10px;;}

               
              
      }


      }
     
          
      } //thummbnails row closed
      */



.slide-row{
.container{
   .col-md-offset-3{
   #myCarousel{
    img{height:250px;width:300px;
  .carousel-control.left,.carousel-control.right{background-image: none;    height: 20px; width: 23px;}
}
   }
   }
}

}


    //contact-form-row starts
      .contact-form-row{
         background-image:url("http://www.worldmapsonline.com/images/murals/mercator_phys_roseworld_mural_lg.jpg");
         
         box-shadow: 0px 11px 11px 6px #000;
        .container{
          color: #000000;
    display: inline-table;
    margin-bottom: -63px;
    padding-top: 131px;
          .contact-form{
          box-shadow: 0px -8px 25px 5px rgba(220, 96, 209, 0.63);
          aside{i{color: #851EC7;
          display: inline-table;
    border-radius: 100px;
    border: 1px solid #eee;
    padding: 10px;}}
          i{color:#851EC7;}

                  padding: 33px;
                  margin: 350px 120px 10px 290px;
                  min-height: 400px;
                  background-color: #ffffff;
                  h3{    color: #AB14A6;
                         padding: 28px;}
                  left-part{
                  table{
                  tr{
                  td{
                       font-size:10px;
                     
                  }

                  }
                  }
                  }
                  .right-part {
                      .form{
                        .subject{input{padding-top:25px;}}
                        .message{input{padding-top:25px;}}
                       input{
                       padding-top:25px;
                       padding-left:0px;
                           border-top: 0px;
                           border-radius: 0px;
                           border-left: 0px; 
                           border-right: 0px;

                       }
                       
                      }
                   span{
                   font-size:$small-font; 
                        color:#971A99;
                        margin-top:20px;  
                        border: 1px solid #971A99;
                        width: 86px;
                        padding: 7px 21px;
                        border-radius: 17px;

                       }

                  }
                        }
         
         padding:0px;
           
            table{
              tr{
                td{border-top:0px;font-size:$small-font;}
                }
              }
            }  
          } //contact-form-row closed









          .footer-menu-row{
          
          box-shadow: 0px 11px 11px 6px #000;
          background-color:#ffffff;
          @include bg-gradient;
          color:#ffffff;
          .footer-menu-content{
              .footer-menu{
              p{font-size:11px;}
               text-align:center;
              ul{
              li{
              @include ul-list-items;
              font-size: $small-font;
              }
              }
              }
              .footer-icons{
              text-align:center;
              ul{
              li{
              @include ul-list-items;

              }
              }
              }

          }//footer-menu-row closed

          }



      .footer-menu-row{
  padding:140px 0px;
  
  @include bg-gradient;

        footer-row-content{
        padding: 13px 100px;
               }//footer-menu-row is closed
          hr{background-color:#866f6f;width: 900px;}
              }//footer row closed

          .footer-row{
            padding-bottom: 50px;
         
           @include bg-gradient;
           .form-control{
           padding: px 60px;
    background-color: #8f189c;
    border: 1px solid lightgray;
    border-radius: 40px;
    color:#ffffff;
           }
           .form-control:focus{
           borde-bottom:1px solid #ad1c91;
               color: #55595c;
               background-color: #fff;
               border-color: #66afe9;
           }
           a{background-color:#AA1C92; 
           padding: 10px 20px;
           border: 1px solid #ddd;
           border-radius: 50px;
           color: #ffffff;font-size:12px;
           text-decoration: none;}
      .col-lg-6{
      p{
      padding:0px 60px;
      font-size:13px;
      }
      }
      .col-lg-12{text-align:left;}
          }//footer-row last clo

       .ads-row{
       
       padding-top:30px;
       .col-lg-2{
       img{height:120px;
       width:160px;}
       }
       .col-lg-3{}

       }



                }//container-fluid closed
    }//the end   


