body {
  overflow-x: hidden; }
  body .container-fluid {
    background-color: #333333;
    color: #ffffff;
     /*
      .thumbnails-row{
      
      
      background-color:#ffffff;
      color:gray;
      .thumbnails-row-content{
      .container{
      margin: 70px 170px;
      }
      .carousel-control.left,.carousel-control.right{    background-image: none;
    height: 20px;
    font-size: 10px;
    width: 23px;
    border: 1px solid gray;
    
    border-radius: 100px;    margin-left: -84px;    margin-right: -98px;
    padding-left: 16px;
    padding-top: 17px;
    padding-right: 32px;
    top: 294px;
    padding-bottom: 31px;}

    
      .carousel-control.left,.carousel-control.left{   
    background-image: none;
    height: 20px;
    font-size: 10px;
    width: 23px;
    border: 1px solid gray;
    
    border-radius: 100px;
    padding-left: 16px;
    padding-top: 17px;
    padding-right: 32px;
    top: 294px;
    padding-bottom: 31px;}
      .col-lg-4{
        text-align: center;
          .thumbnail{
          p{padding:30px 5px;}
          padding: 0px 5px;
          text-align:left;
          .caption{
             span{
             font-size: 19px;
             font-weight: 600;
             }
          }
         ul{    padding-left: 0px;
         .btn-more{
         padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 50px;
    font-size: 12px;
    text-decoration: none;
         }
           li{
              @include ul-list-items;
           }
         }
         
          width:300px;
            img{   height: 280px;
                   width: 280px;
                   float: initial;
                   border-top-left-radius: 12px;
                   border-top-right-radius: 12px;
                   border-bottom-right-radius: 0px;
                   border-bottom-left-radius: 0px;
                   }  

                   }
          .caption{    padding:30px 10px;;}

               
              
      }


      }
     
          
      } //thummbnails row closed
      */ }
    body .container-fluid .header-row {
      margin-right: 5px;
      margin-left: 5px;
      border-bottom: 1px solid gray; }
      body .container-fluid .header-row .col-lg-12 {
        margin-top: 10px;
        margin-bottom: 10px;
        padding-right: 15px;
        padding-left: 0px; }
        body .container-fluid .header-row .col-lg-12 span {
          padding: 3px; }
        body .container-fluid .header-row .col-lg-12 .col-lg-1 {
          padding-top: 20px;
          padding-left: 0px; }
          body .container-fluid .header-row .col-lg-12 .col-lg-1 .brand-logo {
            color: #ffffff;
            font-weight: bold; }
            body .container-fluid .header-row .col-lg-12 .col-lg-1 .brand-logo:hover {
              color: #d0cccc; }
        body .container-fluid .header-row .col-lg-12 .col-lg-11 {
          border-left: 1px solid gray; }
          body .container-fluid .header-row .col-lg-12 .col-lg-11 .brand-textspan {
            padding: 3px; }
          body .container-fluid .header-row .col-lg-12 .col-lg-11 .brand-text div {
            font-size: 15px;
            color: #d0cccc; }
            body .container-fluid .header-row .col-lg-12 .col-lg-11 .brand-text div:hover {
              text-decoration: none;
              color: #ffffff;
              font-weight: normal; }
          body .container-fluid .header-row .col-lg-12 .col-lg-11 .brand-text a {
            font-size: 13px;
            color: #d0cccc; }
            body .container-fluid .header-row .col-lg-12 .col-lg-11 .brand-text a:hover {
              text-decoration: none;
              color: #ffffff; }
    body .container-fluid .about-row {
      background: -webkit-linear-gradient(left, #8220a7 0%, #6f15a8 49%, #7015a7 50%, #ad1c91 100%);
      background: -o-linear-gradient(left, #8220a7 0%, #6f15a8 49%, #7015a7 50%, #ad1c91 100%);
      background: -ms-linear-gradient(left, #8220a7 0%, #6f15a8 49%, #7015a7 50%, #ad1c91 100%);
      background: -moz-linear-gradient(left, #8220a7 0%, #6f15a8 49%, #7015a7 50%, #ad1c91 100%);
      background: linear-gradient(to right, #8220a7 0%, #6f15a8 49%, #7015a7 50%, #ad1c91 100%); }
      body .container-fluid .about-row .col-lg-12 .about-cora {
        margin-left: 20%;
        height: 120px;
        margin-right: 20%;
        padding-top: 30px; }
        body .container-fluid .about-row .col-lg-12 .about-cora .header {
          font-size: 20px;
          font-weight: 600;
          letter-spacing: 5px; }
        body .container-fluid .about-row .col-lg-12 .about-cora ul li {
          display: inline-block;
          list-style-type: none;
          padding: 10px; }
          body .container-fluid .about-row .col-lg-12 .about-cora ul li a {
            color: #ffffff;
            text-decoration: none;
            padding: 5px;
            margin-left: 15px; }
            body .container-fluid .about-row .col-lg-12 .about-cora ul li a:hover {
              border-bottom: 1px solid #ffffff; }
      body .container-fluid .about-row .col-lg-12 .about-header h2 {
        font-size: 45px;
        font-weight: bold;
        letter-spacing: 10px;
        padding: 20px; }
      body .container-fluid .about-row .col-lg-12 .about-cora-para {
        text-align: center;
        margin-left: 34%;
        margin-right: 34%;
        height: 110px;
        font-size: 12px; }
      body .container-fluid .about-row .container .col-lg-12 {
        padding-bottom: 110px; }
        body .container-fluid .about-row .container .col-lg-12 .col-lg-6 {
          margin-bottom: 5px; }
          body .container-fluid .about-row .container .col-lg-12 .col-lg-6 .advisory, body .container-fluid .about-row .container .col-lg-12 .col-lg-6 .ventures {
            padding: 60px;
            transition: 1s background-color;
            font-size: 11px;
            border-radius: 20px;
            margin-left: 45px;
            margin-right: 45px;
            text-align: left;
            word-spacing: 3px;
            background-color: #8C189D; }
            body .container-fluid .about-row .container .col-lg-12 .col-lg-6 .advisory:hover, body .container-fluid .about-row .container .col-lg-12 .col-lg-6 .ventures:hover {
              background: -webkit-linear-gradient(left, #8220a7 0%, #6f15a8 49%, #7015a7 50%, #ad1c91 100%);
              background: -o-linear-gradient(left, #8220a7 0%, #6f15a8 49%, #7015a7 50%, #ad1c91 100%);
              background: -ms-linear-gradient(left, #8220a7 0%, #6f15a8 49%, #7015a7 50%, #ad1c91 100%);
              background: -moz-linear-gradient(left, #8220a7 0%, #6f15a8 49%, #7015a7 50%, #ad1c91 100%);
              background: linear-gradient(to right, #8220a7 0%, #6f15a8 49%, #7015a7 50%, #ad1c91 100%);
              box-shadow: 0px 12px 25px #cec2cc;
              -webkit-box-shadow: 15px 15px 100px -46px #242424;
              -moz-box-shadow: 15px 15px 100px -46px #242424;
              -o-box-shadow: 15px 15px 100px -46px #242424; }
            body .container-fluid .about-row .container .col-lg-12 .col-lg-6 .advisory h4, body .container-fluid .about-row .container .col-lg-12 .col-lg-6 .ventures h4 {
              font-size: 25px; }
    body .container-fluid .advisory-row {
      background-color: #FFFFFF;
      color: #000000; }
      body .container-fluid .advisory-row .col-lg-12 {
        padding-top: 30px;
        padding-bottom: 30px; }
        body .container-fluid .advisory-row .col-lg-12 h3 {
          background: linear-gradient(90deg, #7916A4 50%, #7E139F 50%, #CA0B8C 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          text-color: #ffffff;
          text-aline: center;
          font-weight: bold; }
        body .container-fluid .advisory-row .col-lg-12 p {
          padding-left: 30%;
          padding-right: 30%;
          font-size: 12px; }
      body .container-fluid .advisory-row .advisory-list {
        margin-left: 12%;
        margin-right: 5%; }
        body .container-fluid .advisory-row .advisory-list ul li {
          display: inline-block;
          list-style-type: none;
          padding: 10px;
          width: 300px;
          text-align: center;
          padding: 30px 10px; }
          body .container-fluid .advisory-row .advisory-list ul li .icon-div, body .container-fluid .advisory-row .advisory-list ul li h6 {
            background: linear-gradient(90deg, #7916A4 50%, #7E139F 50%, #CA0B8C 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-color: #ffffff; }
            body .container-fluid .advisory-row .advisory-list ul li .icon-div i, body .container-fluid .advisory-row .advisory-list ul li h6 i {
              font-size: 40px; }
            body .container-fluid .advisory-row .advisory-list ul li .icon-div:hover, body .container-fluid .advisory-row .advisory-list ul li h6:hover {
              background: linear-gradient(90deg, #FFFFFF 50%, #FFFFFF 50%, #FFFFFF 100%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent; }
          body .container-fluid .advisory-row .advisory-list ul li p {
            font-size: 12px;
            color: #000000; }
          body .container-fluid .advisory-row .advisory-list ul li p:hover {
            color: #ffffff; }
          body .container-fluid .advisory-row .advisory-list ul li:hover {
            background: -webkit-linear-gradient(left, #8220a7 0%, #6f15a8 49%, #7015a7 50%, #ad1c91 100%);
            background: -o-linear-gradient(left, #8220a7 0%, #6f15a8 49%, #7015a7 50%, #ad1c91 100%);
            background: -ms-linear-gradient(left, #8220a7 0%, #6f15a8 49%, #7015a7 50%, #ad1c91 100%);
            background: -moz-linear-gradient(left, #8220a7 0%, #6f15a8 49%, #7015a7 50%, #ad1c91 100%);
            background: linear-gradient(to right, #8220a7 0%, #6f15a8 49%, #7015a7 50%, #ad1c91 100%);
            border-radius: 17px; }
          body .container-fluid .advisory-row .advisory-list ul li li:hover {
            color: #ffffff;
            box-shadow: -1px 3px 26px 4px #cca3cb; }
    body .container-fluid .clients-row {
      padding-left: 30px;
      padding-right: 33px;
      padding-top: 60px;
      color: #ffffff;
      background: -webkit-linear-gradient(left, #8220a7 0%, #6f15a8 49%, #7015a7 50%, #ad1c91 100%);
      background: -o-linear-gradient(left, #8220a7 0%, #6f15a8 49%, #7015a7 50%, #ad1c91 100%);
      background: -ms-linear-gradient(left, #8220a7 0%, #6f15a8 49%, #7015a7 50%, #ad1c91 100%);
      background: -moz-linear-gradient(left, #8220a7 0%, #6f15a8 49%, #7015a7 50%, #ad1c91 100%);
      background: linear-gradient(to right, #8220a7 0%, #6f15a8 49%, #7015a7 50%, #ad1c91 100%); }
      body .container-fluid .clients-row .list-of-clients {
        text-align: center; }
        body .container-fluid .clients-row .list-of-clients ul li {
          display: inline-block;
          list-style-type: none;
          padding: 10px;
          opacity: 0.7;
          padding: 25px 25px;
          color: #c0c0c0; }
    body .container-fluid .ventures-row {
      background-color: #ffffff;
      color: #ADAEB2; }
      body .container-fluid .ventures-row .center-block h3 {
        padding: 20px;
        color: #040404;
        background: linear-gradient(90deg, #7916A4 50%, #7E139F 50%, #CA0B8C 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-color: #ffffff;
        font-weight: bold;
        text-align: center;
        font-size: 45px; }
      body .container-fluid .ventures-row .center-block p {
        font-size: 12px; }
      body .container-fluid .ventures-row ul li {
        list-style: none; }
        body .container-fluid .ventures-row ul li .center-block {
          margin: 75px 350px;
          border: 1px solid #b7b3b7;
          border-radius: 7px;
          padding: 36px 31px;
          transition: 1s all;
          background-color: #ffffff; }
          body .container-fluid .ventures-row ul li .center-block:hover {
            color: #ffffff;
            background-color: #A41B94;
            margin: 75px 350px;
            padding: 36px 31px;
            border: 1px solid #a89ca5; }
          body .container-fluid .ventures-row ul li .center-block .center {
            max-width: 500px;
            background-color: -webkit-linear-gradient(to left, #D30885, #851EC7); }
    body .container-fluid .areas-focus-row {
      background: -webkit-linear-gradient(left, #8220a7 0%, #6f15a8 49%, #7015a7 50%, #ad1c91 100%);
      background: -o-linear-gradient(left, #8220a7 0%, #6f15a8 49%, #7015a7 50%, #ad1c91 100%);
      background: -ms-linear-gradient(left, #8220a7 0%, #6f15a8 49%, #7015a7 50%, #ad1c91 100%);
      background: -moz-linear-gradient(left, #8220a7 0%, #6f15a8 49%, #7015a7 50%, #ad1c91 100%);
      background: linear-gradient(to right, #8220a7 0%, #6f15a8 49%, #7015a7 50%, #ad1c91 100%);
      padding-bottom: 100px; }
      body .container-fluid .areas-focus-row .center-block h2 {
        color: #ffffff;
        font-size: 40px;
        padding: 131px 0px 10px 0px;
        font-weight: bold; }
      body .container-fluid .areas-focus-row .center-block p {
        font-size: 12px;
        width: 600px; }
      body .container-fluid .areas-focus-row .areas-focus-content {
        padding-top: 300px;
        margin: 0% 19%; }
        body .container-fluid .areas-focus-row .areas-focus-content h5 {
          font-weight: bold; }
        body .container-fluid .areas-focus-row .areas-focus-content .col-lg-4 {
          margin: 10px;
          width: 250px;
          background-color: #980E7E;
          padding: 55px 35px;
          border-radius: 12px;
          text-align: center; }
          body .container-fluid .areas-focus-row .areas-focus-content .col-lg-4 .slide-icon {
            font-size: 50px; }
          body .container-fluid .areas-focus-row .areas-focus-content .col-lg-4:hover {
            transition: 1s all;
            background-color: #FFFFFF; }
            body .container-fluid .areas-focus-row .areas-focus-content .col-lg-4:hover i, body .container-fluid .areas-focus-row .areas-focus-content .col-lg-4:hover h5, body .container-fluid .areas-focus-row .areas-focus-content .col-lg-4:hover .slide-para {
              padding-top: 10px;
              padding-bottom: 10px; }
            body .container-fluid .areas-focus-row .areas-focus-content .col-lg-4:hover .button, body .container-fluid .areas-focus-row .areas-focus-content .col-lg-4:hover h5, body .container-fluid .areas-focus-row .areas-focus-content .col-lg-4:hover a, body .container-fluid .areas-focus-row .areas-focus-content .col-lg-4:hover i {
              color: #B4119E; }
            body .container-fluid .areas-focus-row .areas-focus-content .col-lg-4:hover p {
              color: #727273; }
          body .container-fluid .areas-focus-row .areas-focus-content .col-lg-4 p {
            padding: 5px;
            font-size: 12px; }
          body .container-fluid .areas-focus-row .areas-focus-content .col-lg-4 .i {
            font-size: 45px; }
          body .container-fluid .areas-focus-row .areas-focus-content .col-lg-4 a {
            padding: 10px 20px;
            border: 1px solid #ddd;
            border-radius: 50px;
            color: #ffffff;
            font-size: 12px;
            text-decoration: none; }
            body .container-fluid .areas-focus-row .areas-focus-content .col-lg-4 a a, body .container-fluid .areas-focus-row .areas-focus-content .col-lg-4 a i {
              font-size: 12px; }
    body .container-fluid .slide-row .container .carousel-inner .active.left {
      left: -33%; }
    body .container-fluid .slide-row .container .carousel-inner .next {
      left: 33%; }
    body .container-fluid .slide-row .container .carousel-inner .prev {
      left: -33%; }
    body .container-fluid .slide-row .container .carousel-control.left, body .container-fluid .slide-row .container .carousel-control.right {
      background-image: none; }
    body .container-fluid .thumbnails-row {
      background-color: #ffffff;
      color: gray; }
      body .container-fluid .thumbnails-row h2 {
        padding-top: 80px;
        color: #9F1A96; }
      body .container-fluid .thumbnails-row .thumbnails-row-content .container {
        margin: 70px 170px; }
      body .container-fluid .thumbnails-row .thumbnails-row-content .carousel-control.left, body .container-fluid .thumbnails-row .thumbnails-row-content .carousel-control.right {
        background-image: none;
        height: 20px;
        font-size: 10px;
        width: 23px;
        border: 1px solid gray;
        color: red;
        border-radius: 100px;
        margin-left: -84px;
        margin-right: -98px;
        padding-left: 16px;
        padding-top: 17px;
        padding-right: 32px;
        top: 294px;
        padding-bottom: 31px; }
      body .container-fluid .thumbnails-row .thumbnails-row-content .carousel-control.left, body .container-fluid .thumbnails-row .thumbnails-row-content .carousel-control.left {
        background-image: none;
        height: 20px;
        font-size: 10px;
        width: 23px;
        border: 1px solid gray;
        color: red;
        border-radius: 100px;
        padding-left: 16px;
        padding-top: 17px;
        padding-right: 32px;
        top: 294px;
        padding-bottom: 31px; }
      body .container-fluid .thumbnails-row .thumbnails-row-content .col-lg-4 {
        text-align: center; }
        body .container-fluid .thumbnails-row .thumbnails-row-content .col-lg-4 .thumbnail {
          padding: 0px 5px;
          text-align: left;
          margin-right: 5px;
          margin-left: 5px;
          width: 300px; }
          body .container-fluid .thumbnails-row .thumbnails-row-content .col-lg-4 .thumbnail p {
            padding: 30px 5px; }
          body .container-fluid .thumbnails-row .thumbnails-row-content .col-lg-4 .thumbnail .caption span {
            font-size: 19px;
            font-weight: 600; }
          body .container-fluid .thumbnails-row .thumbnails-row-content .col-lg-4 .thumbnail ul {
            padding-left: 0px; }
            body .container-fluid .thumbnails-row .thumbnails-row-content .col-lg-4 .thumbnail ul .btn-more {
              padding: 10px 20px;
              border: 1px solid #ddd;
              border-radius: 50px;
              font-size: 12px;
              text-decoration: none; }
            body .container-fluid .thumbnails-row .thumbnails-row-content .col-lg-4 .thumbnail ul li {
              display: inline-block;
              list-style-type: none;
              padding: 10px; }
          body .container-fluid .thumbnails-row .thumbnails-row-content .col-lg-4 .thumbnail img {
            height: 280px;
            width: 280px;
            float: initial;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px; }
        body .container-fluid .thumbnails-row .thumbnails-row-content .col-lg-4 .caption {
          padding: 30px 10px; }
    body .container-fluid .advisors-row {
      background-color: #ffffff; }
      body .container-fluid .advisors-row center h2 {
        color: #851EC7; }
    body .container-fluid .slide-row .container .col-md-offset-3 #myCarousel img {
      height: 250px;
      width: 300px; }
      body .container-fluid .slide-row .container .col-md-offset-3 #myCarousel img .carousel-control.left, body .container-fluid .slide-row .container .col-md-offset-3 #myCarousel img .carousel-control.right {
        background-image: none;
        height: 20px;
        width: 23px; }
    body .container-fluid .contact-form-row {
      background-image: url("http://www.worldmapsonline.com/images/murals/mercator_phys_roseworld_mural_lg.jpg");
      box-shadow: 0px 11px 11px 6px #000; }
      body .container-fluid .contact-form-row .container {
        color: #000000;
        display: inline-table;
        margin-bottom: -63px;
        padding-top: 131px;
        padding: 0px; }
        body .container-fluid .contact-form-row .container .contact-form {
          box-shadow: 0px -8px 25px 5px rgba(220, 96, 209, 0.63);
          padding: 33px;
          margin: 350px 120px 10px 290px;
          min-height: 400px;
          background-color: #ffffff; }
          body .container-fluid .contact-form-row .container .contact-form aside i {
            color: #851EC7;
            display: inline-table;
            border-radius: 100px;
            border: 1px solid #eee;
            padding: 10px; }
          body .container-fluid .contact-form-row .container .contact-form i {
            color: #851EC7; }
          body .container-fluid .contact-form-row .container .contact-form h3 {
            color: #AB14A6;
            padding: 28px; }
          body .container-fluid .contact-form-row .container .contact-form left-part table tr td {
            font-size: 10px; }
          body .container-fluid .contact-form-row .container .contact-form .right-part .form .subject input {
            padding-top: 25px; }
          body .container-fluid .contact-form-row .container .contact-form .right-part .form .message input {
            padding-top: 25px; }
          body .container-fluid .contact-form-row .container .contact-form .right-part .form input {
            padding-top: 25px;
            padding-left: 0px;
            border-top: 0px;
            border-radius: 0px;
            border-left: 0px;
            border-right: 0px; }
          body .container-fluid .contact-form-row .container .contact-form .right-part span {
            font-size: 12px;
            color: #971A99;
            margin-top: 20px;
            border: 1px solid #971A99;
            width: 86px;
            padding: 7px 21px;
            border-radius: 17px; }
        body .container-fluid .contact-form-row .container table tr td {
          border-top: 0px;
          font-size: 12px; }
    body .container-fluid .footer-menu-row {
      box-shadow: 0px 11px 11px 6px #000;
      background-color: #ffffff;
      background: -webkit-linear-gradient(left, #8220a7 0%, #6f15a8 49%, #7015a7 50%, #ad1c91 100%);
      background: -o-linear-gradient(left, #8220a7 0%, #6f15a8 49%, #7015a7 50%, #ad1c91 100%);
      background: -ms-linear-gradient(left, #8220a7 0%, #6f15a8 49%, #7015a7 50%, #ad1c91 100%);
      background: -moz-linear-gradient(left, #8220a7 0%, #6f15a8 49%, #7015a7 50%, #ad1c91 100%);
      background: linear-gradient(to right, #8220a7 0%, #6f15a8 49%, #7015a7 50%, #ad1c91 100%);
      color: #ffffff; }
      body .container-fluid .footer-menu-row .footer-menu-content .footer-menu {
        text-align: center; }
        body .container-fluid .footer-menu-row .footer-menu-content .footer-menu p {
          font-size: 11px; }
        body .container-fluid .footer-menu-row .footer-menu-content .footer-menu ul li {
          display: inline-block;
          list-style-type: none;
          padding: 10px;
          font-size: 12px; }
      body .container-fluid .footer-menu-row .footer-menu-content .footer-icons {
        text-align: center; }
        body .container-fluid .footer-menu-row .footer-menu-content .footer-icons ul li {
          display: inline-block;
          list-style-type: none;
          padding: 10px; }
    body .container-fluid .footer-menu-row {
      padding: 140px 0px;
      background: -webkit-linear-gradient(left, #8220a7 0%, #6f15a8 49%, #7015a7 50%, #ad1c91 100%);
      background: -o-linear-gradient(left, #8220a7 0%, #6f15a8 49%, #7015a7 50%, #ad1c91 100%);
      background: -ms-linear-gradient(left, #8220a7 0%, #6f15a8 49%, #7015a7 50%, #ad1c91 100%);
      background: -moz-linear-gradient(left, #8220a7 0%, #6f15a8 49%, #7015a7 50%, #ad1c91 100%);
      background: linear-gradient(to right, #8220a7 0%, #6f15a8 49%, #7015a7 50%, #ad1c91 100%); }
      body .container-fluid .footer-menu-row footer-row-content {
        padding: 13px 100px; }
      body .container-fluid .footer-menu-row hr {
        background-color: #866f6f;
        width: 900px; }
    body .container-fluid .footer-row {
      padding-bottom: 50px;
      background: -webkit-linear-gradient(left, #8220a7 0%, #6f15a8 49%, #7015a7 50%, #ad1c91 100%);
      background: -o-linear-gradient(left, #8220a7 0%, #6f15a8 49%, #7015a7 50%, #ad1c91 100%);
      background: -ms-linear-gradient(left, #8220a7 0%, #6f15a8 49%, #7015a7 50%, #ad1c91 100%);
      background: -moz-linear-gradient(left, #8220a7 0%, #6f15a8 49%, #7015a7 50%, #ad1c91 100%);
      background: linear-gradient(to right, #8220a7 0%, #6f15a8 49%, #7015a7 50%, #ad1c91 100%); }
      body .container-fluid .footer-row .form-control {
        padding: px 60px;
        background-color: #8f189c;
        border: 1px solid lightgray;
        border-radius: 40px;
        color: #ffffff; }
      body .container-fluid .footer-row .form-control:focus {
        borde-bottom: 1px solid #ad1c91;
        color: #55595c;
        background-color: #fff;
        border-color: #66afe9; }
      body .container-fluid .footer-row a {
        background-color: #AA1C92;
        padding: 10px 20px;
        border: 1px solid #ddd;
        border-radius: 50px;
        color: #ffffff;
        font-size: 12px;
        text-decoration: none; }
      body .container-fluid .footer-row .col-lg-6 p {
        padding: 0px 60px;
        font-size: 13px; }
      body .container-fluid .footer-row .col-lg-12 {
        text-align: left; }
    body .container-fluid .ads-row {
      padding-top: 30px; }
      body .container-fluid .ads-row .col-lg-2 img {
        height: 120px;
        width: 160px; }

/*# sourceMappingURL=sample.css.map */
